<div class="text-center">
    <h1 class="display-4"><b>Welcome to Dada-Panel</b></h1>

    
    <p>See more on <a href="https://www.instagram.com/sandipanel/?hl=hr">our official Instagram page!</a></p>
</div>
