@using Microsoft.AspNetCore.Identity
@using Algebra_Seminar_Drdic.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*
    1.uvjet Korisnik MORA biti prijavljen!
    2.uvjet: prijavljeni korisnik MORA imati ulogu admina
*@

@if(
    SignInManager.IsSignedIn(User) && 
    await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin")
)
{
     <div class="dropdown">
        <a class="nav-link text-dark dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Admin
        </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a class="dropdown-item" type="button" asp-area="admin" asp-controller="category" asp-action="index">Category</a></li>
            <li><a class="dropdown-item" type="button" asp-area="admin" asp-controller="product" asp-action="index">Products</a></li>
            <li><a class="dropdown-item" type="button" asp-area="admin" asp-controller="account" asp-action="index">Account</a></li>
        </ul>
    </div>
}
