@model List<Algebra_Seminar_Drdic.Models.Category>
@inject Algebra_Seminar_Drdic.Data.ApplicationDbContext app_db_context

@foreach(var category in app_db_context.Categories)
{
    <div class="form-check">

          @if (Model != null && Model.Count > 0)
        {
            @if (Model.Find(cat => cat.Id == category.Id) != null)
            {
                <input class="form-check-input" type="checkbox" name="category_id" value="@category.Id" checked>
            }
            else
            {
                <input class="form-check-input" type="checkbox" name="category_id" value="@category.Id">
            }
        }
        else
        {
            <input class="form-check-input" type="checkbox" name="category_id" value="@category.Id">
        }

      <label class="form-check-label" for="flexCheckDefault">
        @category.Title
      </label>
    </div>
}
